@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: muli;
}
.form-control{
    margin-bottom: 2%;
}
.navbar{
background-color: #fff !important;
}
.navbar-brand{
    font-size: 1.9rem!important;
    color: #2b23b9;
}

.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.menu_active{
    font-weight: bold;
    border-bottom: 1px solid #565387;
}

.navbar a:hover{
    color: #3498db !important;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;

}
.login-form-1{
    padding: 15%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 25%;
    border-radius: 1rem;
    padding: 1.0%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    margin-left: 35%;
    margin-top: 3%;
}
@media (max-width:991px){
    .navbar-brand{
        font-size: 1.5rem !important;
}
}

.menu_active{
    font-weight: bold;
    border-bottom: none;
}

#header{
    width: 100%;
    height: 80vh;
}

#header h1{
    width: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#header .brand-name{
    color: #3498db;
}

#header h2 {
    color: #484848;
    font-size: 24px;
}

#header .btn-get-started{
    font-weight: 500;
    font-size:16px;
    letter-spacing:1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color:black;
    border: 2px solid red;
    text-decoration: none;
}

#header .btn-get-started:hover{
    background-color: red;
    color: #fff;
}

.header img {
    text-align:right;
}
.size{
    height: 200px;
}  
.paracard{
 margin-top:20px;
 color:black;
}
.cardimg{
   width:95px;
   height:100px;
   
}

.maincard{
    color:grey;
    text-align: center;
    border-radius: 25px;
  border-style:20px;
  box-shadow: 0 2px 2px 0;
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin:5%;
}
.howhead{
    color: blue;
    text-align: center;
    justify-content: space-around;
    
}

nav ul li {
    display:inline-block;
    border-radius: 0px;
    background-color:white;
    overflow: none;
    padding: 0;
    width: auto;
}
/* .emoji{
    margin-top:60px;
} */

